__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.pyd
*.egg-info
*.egg
*.egg-link
dist/
build/
env/
*.sqlite3
*.sql
*.db
*.log
*.log.sqlite3
*.log.sql
*.sqlite
*.sql.log
*.sqlite3.log
*.db.log
*.db-journal
*.sqlite-journal
*.sql.journal
*.sqlite3.